@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:wght@400;500;600;700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


:root {
    --primary-color:#27b397;
    --text-dark:#0f172a;
    --text-light:#94a3b8;
    --extra-light:#f8fafc;
    --white:#ffffff;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: "Poppins", serif;
}

.container{
    height: 100vh;
    position: relative;
    background-image: url(./vidyatcr_cover.jpg);
    background-size: cover;
    background-position: center;
    background-blend-mode: overlay;
    background-color: rgba(0,0,0,0.2);
   /* overflow: hidden; */
}

.form_container{
    position: absolute;
    width: 60%;
    height: 100%;
    padding: 2rem;
    transition: 0.6s ease-in-out;
}

.signup_container{
    opacity: 0;
    z-index: 1;
}

.signin_container{
    z-index: 2;
}

form{
    height: 100%;
    max-width: 400px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sign{
    font-size: 2.5rem;
    color: var(--primary-color)
}

.socials{
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: 2rem 0;;
}

.socials a{
    padding: 5px 12px;
    text-decoration: none;
    font-size: 1.5rem;
    color: var(--white);
    border: 1px solid var(--text-light);
    border-radius: 100%;
}

form span{
    color: var(--text-light);
    font-size: 0.9rem;
    margin-bottom: 1rem;
}

.form_group{
    position: relative;
    margin: 0.5rem 0;
    width: 100%;
}

input{
    width: 100%;
    padding: 0.75rem 1rem;
    border: none;
    outline: none;
    background-color: var(--extra-light);
    border-bottom: 1px solid var(--primary-color);
}

.forgot_password{
    text-decoration: none;
    font-size: 0.9rem;
    color: var(--text-light);
    border-bottom: 1px solid var(--text-light);
}

.form_container button{
    padding: 0.75rem 4rem;
    margin-top: 2rem;
    border: none;
    outline: none;
    font-size: 1rem;
    color: var(--white);
    border-radius: 2rem;
    background-color: var(--primary-color);
    cursor: pointer;
}

/*overlay Container*/

.overlay_container{
    position: absolute;
    top: 0;
    left: 60%;
    height: 100%;
    width: 40%;
    overflow: hidden; 
    transition: transform 0.6s ease-in-out;
    z-index: 10;
}

.overlay_wrapper{
    background-color: rgba(140, 212, 245, 0.5);

    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    color: var(--white);
    left: -150%;
    height: 100%;
    width: 250%;
    transition: transform 0.6s ease-in-out;
}

.overlay_panel{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 4rem;
    text-align: center;
    height: 100%;
    width: 40%;
    transition: transform 0.6s ease-in-out;
}

.overlat_panel_left{
    right: 60%;
    transform: translateX(-12%);
}

.overlay_panel_right{
    right: 0;
    transform: translateX(0);
}

.overhead{
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.overpara{
    max-width: 350px;
    margin: 0 auto;
    line-height: 2rem;
}

.overlay_panel button{
    padding: 0.75rem 4rem;
    margin-top: 2rem;
    border: none;
    outline: none;
    font-size: 1rem;
    color: var(--white);
    border-radius: 2rem;
    background-color: transparent;
}

#overlayBtn{
    cursor: pointer;
    position: absolute;
    left: 50%;
    top: 504px;
    transform: translateX(-50%);
    width: 10rem;
    height: 3rem;
    border:1px solid var(--white);
    background: transparent;
    border-radius: 2rem;
}

.right_panel_active .overlay_container{
    transform: translateX(-150%);
}

.right_panel_active .overlay_wrapper{
    transform: translateX(50%);
}

.right_panel_active .overlay_panel_left{
    transform: translateX(25%);
}

.right_panel_active .overlay_panel_right{
    transform: translateX(35%);
}

.right_panel_active .signin_container{
    transform: translateX(20%);
    opacity: 0;
}

.right_panel_active .signup_container{
    transform: translateX(65%);
    opacity: 1;
    z-index: 5;
    animation: show 0.6s;
}

@keyframes show{
    0%,
    50% {
        opacity: 0;
        z-index: 1;
    }
    51%,
    100% {
        opacity: 1;
        z-index: 5;
    }
}